/* 공통 스타일 */

/* header ----------------------------------------------------------------- */

header{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(0, 20, 0, 0.7);
    left: 0; top: 0;
}
.header{
    width: 1300px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{color: white; text-transform: uppercase;}
.header > nav > a{margin-left: 30px;}
.header a:hover{color: limegreen;}


/* spot ----------------------------------------------------------------- */

.spot{
    width: 100%;
    height: 100vh;
    background: url('../imgs/img_main-spot.jpg') 0 0 / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
.spot div{
    color: white;
    font-size: 22px;
    line-height: 1.5;
    }
.spot p{}
.spot b{
    font-size: 50px;
    text-transform: uppercase;
    }
.spot a{
    background-color: green;
    color: inherit;
    padding: 10px 30px;
    margin-top: 40px;
    display: inline-block;
    transition: 0.5s;
    }
.spot a:hover{
    background-color: darkorange;
    color: black;
}
