@import url(./reset.css);
@import url(./common.css);

/* spot ----------------------------------------------------------------- */

.spot{
    width: 100%;
    height: 100vh;
    background: url('../imgs/img_main-spot.jpg') 0 0 / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
.spot div{
    color: white;
    font-size: 22px;
    line-height: 1.5;
    }
.spot p{}
.spot b{
    font-size: 50px;
    text-transform: uppercase;
    }
.spot a{
    background-color: green;
    color: inherit;
    padding: 10px 30px;
    margin-top: 40px;
    display: inline-block;
    transition: 0.5s;
    }
.spot a:hover{
    background-color: darkorange;
    color: black;
}

/* about ----------------------------------------------------------------- */

.About{
    width: 1300px; margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.About .content{
    display: flex;
    column-gap: 5%;
}

.About .content > figure{
    flex: 1; /* width 3등분 */
    margin-top: 50px;
    align-items: center; 
}
.About .content > figure > p{
    width: 160px; height: 160px;
    background-color: green;
    border-radius: 100%; /* 모서리값 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* line-height: 160px; or padding-top: N px */
    transition: 0.5s;
}
.About .content > figure > p img{width: 60px;}
.About .content > figure:hover > p{
    background-color: darkorange;
    border-radius: 25%;
}


/* potfolio -------------------------------------------------------------- */

.Portfolio{
    background-color: lightgray;
    text-align: center;
    padding: 100px 0;
}

.Portfolio .title,
.Portfolio .content{width: 1300px; margin: 0 auto;}

.Portfolio .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.Portfolio .content > figure > p{overflow: hidden;}
.Portfolio .content > figure > p img{
    width: 100%; 
    transition: 0.5s;
}

.Portfolio .content > figure{
    width: 32%; /* flex: 0 0 32%; */
    padding: 20px;
    margin-bottom: 2%;
}

.Portfolio .content > figure:hover{
    background-color: rgba(255, 255, 255, 0.4);
    }
.Portfolio .content > figure:hover > p img{
    transform: scale(1.5);
}

    
/* contact -------------------------------------------------------------- */
    
.Contact{
    background-color: darkgreen;
    text-align: center;
    padding: 100px 0;
    }
.Contact h2,
.Contact p{color: white;}

.Contact .content{
    width: 1300px; 
    margin: 50px auto 0 auto;
}