@import url(./reset.css);
@import url(./common.css);

/* 인덱스 페이지 내용 */

html{font-size: 16px;}
body{color: #555;}

.title h2{
    text-transform: uppercase;
    font-size: 40px;
    color: black;
}
.title p{padding-top: 10px;}

.content figure figcaption{}
.content figure figcaption b{
    text-transform: uppercase;
    color: black;
    font-size: 24px;
    margin: 20px 0 10px;
    display: inline-block;
    }
.content figure figcaption p{line-height: 1.6;}

/* about ----------------------------------------------------------------- */

.About{
    width: 1300px; margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.About .content{
    display: flex;
    column-gap: 5%;
}

.About .content > figure{
    flex: 1; /* width 3등분 */
    margin-top: 50px;
    align-items: center; 
}
.About .content > figure > p{
    width: 160px; height: 160px;
    background-color: green;
    border-radius: 100%; /* 모서리값 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* line-height: 160px; or padding-top: N px */
    transition: 0.5s;
}
.About .content > figure > p img{width: 60px;}
.About .content > figure:hover > p{
    background-color: darkorange;
    border-radius: 25%;
}


/* potfolio -------------------------------------------------------------- */

.Portfolio{
    background-color: lightgray;
    text-align: center;
    padding: 100px 0;
}

.Portfolio .title,
.Portfolio .content{width: 1300px; margin: 0 auto;}

.Portfolio .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.Portfolio .content > figure > p{overflow: hidden;}
.Portfolio .content > figure > p img{
    width: 100%; 
    transition: 0.5s;
}

.Portfolio .content > figure{
    width: 32%; /* flex: 0 0 32%; */
    padding: 20px;
    margin-bottom: 2%;
}

.Portfolio .content > figure:hover{
    background-color: rgba(255, 255, 255, 0.4);
    }
.Portfolio .content > figure:hover > p img{
    transform: scale(1.5);
}

    
/* contact -------------------------------------------------------------- */
    
.Contact{
    background-color: darkgreen;
    text-align: center;
    padding: 100px 0;
    }
.Contact h2,
.Contact p{color: white;}

.Contact .content{
    width: 1300px; 
    margin: 50px auto 0 auto;
}